@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/* heading: rale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans"; */
  font-family: "Montserrat";
}
body {
  background: hsl(217, 28%, 15%);
  color: #fff;
}
h1,
h2,
h3,
h4 {
  font-family: "Raleway";
  font-family: "Montserrat";
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
/* header .logo{
  width: 130px;
} */
header .logo img {
  width: 100%;
}
nav ul {
  display: flex;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  font-size: 0.9rem;
}
#illustration-curve {
  background: url(images/bg-curvy-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#illustration .intro {
  max-width: 70%;
  margin: 20px auto;
}
#illustration img {
  width: 100%;
}
#illustration h1 {
  margin: 10px auto;
  padding: 0 10px;
  text-align: center;
  font-size: 1.5rem;
  max-width: 500px;
  line-height: 2rem;
}
#illustration p {
  margin: 10px auto;
  text-align: center;
  font-size: 0.9rem;
  max-width: 470px;
  line-height: 1.5rem;
}
#illustration button {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  display: block;
  margin: 20px auto;
  width: 200px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background: "";
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}
#illustration button:hover{
  cursor: pointer;
  background: linear-gradient(to right, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
}
#services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 100px;
  text-align: center;
}
#services img {
  width: 100px;
}
#services h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  padding: 5px 0;
}
#services p {
  text-align: center;
  font-size: 0.8rem;
}
#production {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 100px 40px;
}
.production_image img,
.production_image svg {
  padding: 0 20px;
  width: 100%;
}
.production_text {
  padding: 0 20px;
}
.production_text h1 {
  font-size: 1.5rem;
  width: 300px;
}
.production_text p {
  font-size: 1rem;
  padding: 10px 0;
  font-size: 0.8rem;
}
.production_link {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 3px;
  width: 165px;
}
.production_link a {
  text-decoration: none;
  color: hsl(176, 68%, 64%);
  font-size: 0.9rem;
}
.production_link a:hover{
  color: #999;
  border-bottom: 1px solid #999;
}
.quote img {
  margin: 0 30px;
  width: 40px;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  padding: 20px;
  width: 100%;
}
.card {
  width: 100%;
  max-width: 500px;
  background: hsl(217, 28%, 15%);
  box-shadow: 2px 2px 4px hsl(219, 30%, 18%);
  margin-bottom: 20px;
  padding: 25px;
}
.card p {
  font-size: 0.8rem;
}
.avatar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.avatar img {
  width: 30px;
  border-radius: 50px;
}
.avatar h3,
.avatar p {
  font-size: 0.75rem;
}
footer {
  background: hsl(216, 53%, 9%);
  padding: 200px 50px 0 50px;
  width: 100%;
}
footer p {
  font-size: 0.8rem;
  padding: 10px 0;
}
footer ul {
  list-style: none;
  padding: 20px;
}
footer li{
  padding: 10px 0;
}
footer ul a {
  text-decoration: none;
  color: #999;
}
footer ul a:hover{
  color: #FFF;
}
footer .logo img {
  width: 200px;
}
.footer-text {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-text img {
  font-size: 30px;
}
.location p {
  max-width: 300px;
}
.location img {
  align-self: flex-start;
  padding: 0 10px;
}
.location,
.phone div {
  display: flex;
  padding: 10px;
}
.phone div p {
  padding: 0 10px;
}
.social {
  display: flex;
}
.social svg {
  width: 30px;
  height: 30px;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin: 20px 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.social svg:hover {
  color: hsl(176, 68%, 64%);
  border: 1px solid hsl(176, 68%, 64%);
}
.get-access {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  position: relative;
  bottom: -150px;
  background: hsl(217, 28%, 15%);
  text-align: center;
  padding: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.get-access h1 {
  font-size: 1.5rem;
}
.get-access p {
  margin: 20px auto;
}
.get-access form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 0 20px;
}
.get-access input,
.get-access button {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  margin: 0 10px;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.get-access button:hover{
  background: linear-gradient(to right, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
}
.get-access input {
  background: #fff;
  color: #000;
}

/* responsive */
@media (max-width: 900px) {
  .card-wrapper,
  #services {
    grid-template-columns: 1fr;
  }
  #production,
  .footer-text {
    display: block;
  }
  footer ul {
    margin: 20px 0;
  }
  .social {
    width: 150px;
    margin: 10px auto;
  }
}

@media (max-width: 700px) {
  header {
    padding: 40px 5px;
  }
  header .logo {
    width: 100px;
  }
  .get-access form {
    grid-template-columns: 1fr;
  }
}
